{% extends 'admin.html.twig' %}

{% block title %}Agent{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <h1 class="text-center">Agent</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ agent.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ agent.email }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ agent.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ agent.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Cin</th>
                        <td>{{ agent.cin }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="{{ path('agent_edit', {'id': agent.id}) }}" class="btn btn-success">Modifier</a>
{% endblock %}