{% extends 'admin.html.twig' %}

{% block title %}Liste d'agents{% endblock %}

{% block body %}
    <h1>Liste d'agents</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.id }}</td>
                <td>{{ agent.email }}</td>
                <td>{{ agent.nom }}</td>
                <td>{{ agent.prenom }}</td>
                <td>{{ agent.cin }}</td>
                <td>
                    <a href="{{ path('agent_show_admin', {'id': agent.id}) }}"><span class="fa fa-eye text-info"/>&nbsp;&nbsp;</a>
                    <a href="{{ path('agent_edit_admin', {'id': agent.id}) }}"><span class="fa fa-edit text-success"/></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agent_new_admin') }}" class="btn btn-primary">Ajouter agent</a>
{% endblock %}
