{% extends 'admin.html.twig' %}

{% block title %}Actualite index{% endblock %}

{% block body %}
<h1>Liste des actualités</h1>

<table class="table">
    <thead>
        <tr>
            <th>ref</th>
            <th>Title</th>
            <th>Créé le</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for actualite in actualites %}
        <tr>
            <td>{{ actualite.ref }}</td>
            <td>{{ actualite.title }}</td>
            <td>{{ actualite.createdAt ? actualite.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('actualite_show', {'ref': actualite.ref}) }}"><i class="fas fa-eye"></i></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Aucun enregistrement trouvé</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(actualites) }}
</div>

<a class="btn btn-primary" href="{{ path('actualite_new') }}">Ajouter actualité</a>
{% endblock %}