{% extends 'admin.html.twig' %}

{% block title %}Actualite{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 col-xs-12 shadow">
        <h1>Actualité</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Ref</th>
                    <td>{{ actualite.ref }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ actualite.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ actualite.description }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td><img src="{{ actualite.image }}" alt="Girl in a jacket" width="500" height="300"></td>
                </tr>
                <tr>
                    <th>Crée le</th>
                    <td>{{ actualite.createdAt ? actualite.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}