{% extends 'admin.html.twig' %}

{% block title %}Liste des entrepreneurs{% endblock %}

{% block body %}
<h1>Liste des entrepreneurs</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Etat</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entrepreneur in entrepreneurs %}
        <tr>
            <td>{{ entrepreneur.email }}</td>
            <td>{{ entrepreneur.nom }}</td>
            <td>{{ entrepreneur.prenom }}</td>
            <td>{% if entrepreneur.etat %} <span class="fa fa-check-square text-success"></span> {% else %} <span
                    class="fa fa-user-times text-danger"></span> {% endif %} </td>
            <td class="text-center">
                <a href="{{ path('entrepreneur_show_admin', {'slug': entrepreneur.slug}) }}"><span
                        class="fa fa-eye text-info" />&nbsp;&nbsp;&nbsp;
                <a href="{{ path('entrepreneur_edit_admin', {'slug': entrepreneur.slug}) }}"><span
                        class="fa fa-edit text-info" />
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">Aucun enregistrement trouvé</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(entrepreneurs) }}
</div>
<a href="{{ path('entrepreneur_new') }}" class="btn btn-primary">Ajouter Entrepreneur</a>
{% endblock %}