{% extends 'base.html.twig' %}

{% block title %}Entrepreneur{% endblock %}

{% block body %}
    <h1>Entrepreneur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entrepreneur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entrepreneur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ entrepreneur.roles ? entrepreneur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entrepreneur.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entrepreneur_index') }}">back to list</a>

    <a href="{{ path('entrepreneur_edit', {'id': entrepreneur.id}) }}">edit</a>

    {{ include('entrepreneur/_delete_form.html.twig') }}
{% endblock %}
