{% extends 'base.html.twig' %}

{% block title %}Entrepreneur{% endblock %}

{% block body %}
<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>{{ entrepreneur.nom }} {{ entrepreneur.prenom }}</h2>
                <ul class="bread-list">
                    <li><a href="#">Etat<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="#">{% if entrepreneur.etat %} Activé {% else %} non activé
                            {% endif %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Start Pricing Table -->
<section id="pricing-table" class="pricing-table section">
    <div class="container">
        <div class="row">
            <!-- Single Table -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="single-table">
                    <div class="bg-icon"><i class="fa fa-file"></i></div>
                    <!-- Table Head -->
                    <div class="table-head">
                        <h2 class="title">Informations personnelles</h2>
                    </div>
                    <!-- Table List -->
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>CIN:</th>
                                <td>{{ entrepreneur.cin }}</td>
                            </tr>
                            <tr>
                                <th>Téléphone:</th>
                                <td>{{ entrepreneur.tel }} </td>
                            </tr>
                            <tr>
                                <th>Genre:</th>
                                <td>{{ entrepreneur.genre }}d</td>
                            </tr>
                            <tr>
                                <th>Date de naissance:</th>
                                <td>{{ entrepreneur.datenais | date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Pays:</th>
                                <td>Tunisie</td>
                            </tr>
                            <tr>
                                <th>Ville:</th>
                                <td>{{entrepreneur.villenais}} </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Table Bottom -->
                    <div class="table-bottom">
                        <a class="btn primary" href="{{ path('entrepreneur_edit', {slug: entrepreneur.slug}) }}"><i
                                class="fa fa-edit"></i>Modifier</a>
                    </div>
                </div>
            </div>
            <!-- End Single Table-->
            <!-- Single Table -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="single-table active">
                    <div class="bg-icon"><i class="fa fa-address-book"></i></div>
                    <!-- Table Head -->
                    <div class="table-head">
                        <h2 class="title">Informations d'activité</h2>
                    </div>
                    <!-- Table List -->
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ entrepreneur.categorie.adresse }}</td>
                            </tr>
                            <tr>
                                <th>Codepostale</th>
                                <td>{{ entrepreneur.categorie.codepostale }}</td>
                            </tr>
                            <tr>
                                <th>Secteur d'activité</th>
                                <td>{{ entrepreneur.categorie.activite.nom }}</td>
                            </tr>
                            <tr>
                                <th>Taux</th>
                                <td>{{ entrepreneur.categorie.activite.taux }}%</td>
                            </tr>
                            <tr>
                                <th>Domicile</th>
                                <td>{{ entrepreneur.categorie.domicile ? 'Non' : 'Oui' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End Single Table-->
            <!-- Single Table -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="single-table">
                    <div class="bg-icon"><i class="fa fa-key"></i></div>
                    <!-- Table Head -->
                    <div class="table-head">
                        <h2 class="title">Modifier mot de passe</h2>
                    </div>
                    <!-- Table List -->
                    <ul class="table-list">
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- Table Bottom -->
                    <div class="table-bottom">
                        <a class="btn primary" href="{{ path('entrepreneur_editpassword', {id: entrepreneur.id}) }}"><i
                                class="fa fa-edit"></i>modifer</a>
                    </div>
                </div>
            </div>
            <!-- End Single Table-->
        </div>
    </div>
</section>
<!--/ End Pricing Table -->
{% endblock %}