{% extends 'base.html.twig' %}

{% block title %}Declaration index{% endblock %}


{% block body %}
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>Mes Versements</h1>
                </div>
            </div>
        </div>
        {% if not declarations is  empty %}
        <table class="table table-striped table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Réf déclaration</th>
                    <th>Réf paiement</th>
                    <th>Date de paiement</th>
                    <th>Total à payer</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% set nb = false %}
                {% for declaration in declarations %}
                {% if declaration.paiement %}
                {% set nb = true %}
                <tr>
                    <td>{{ declaration.ref }}</td>
                    <td>{{ declaration.paiement.ref }}</td>
                    <td>{{ declaration.paiement.datePai ? declaration.paiement.datePai|date('d-m-Y') : '' }}</td>
                    <td>{{ declaration.totalapayer }}</td>
                    <td>
                        <a href="{{ path('declaration_show', {'id': declaration.id}) }}"><i class="fa fa-file"></i></a>
                        {% if not declaration.paiement %}
                        <a href="{{ path('paiement_new', {'ref': declaration.ref}) }}"><i class="fa fa-money"
                                style="color:green;" aria-label="Open thi"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}

                {% else %}
                <tr>
                    <td colspan="9">Pas de versement</td>
                </tr>
                {% endfor %}
                {% if not nb %}
                <tr>
                    <td colspan="9">Pas de versement</td>
                </tr>
                {% endif %}

            </tbody>
        </table>
        {% else %}
        <tr>
            <td colspan="8">Aucun enregistrement trouvé</td>
        </tr>
        {% endif %}
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(declarations) }}
        </div>
    </div>
</section>
{% endblock %}