{% extends 'admin.html.twig' %}

{% block title %}Declarations{% endblock %}


{% block body %}
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>{{titre}}</h1>
                </div>
            </div>
        </div>
        {{form_start(form)}}
        <div class="row justify-content-center text-center mt-2  table table-bordered">
            <div class="col-3">
                {{form_label(form.nom)}}
                {{form_widget(form.nom)}}
            </div>
            <div class="col-3">
                {{form_label(form.dateStart)}}
                {{form_widget(form.dateStart)}}
            </div>
            <div class="col-3">
                {{form_label(form.dateEnd)}}
                {{form_widget(form.dateEnd)}}
            </div>
            <div class="col-3 align-middle my-auto d-none">
                {{form_label(form.etat)}}
                {{form_widget(form.etat)}}
            </div>
            <div class="col-3 mt-4">
                {{form_widget(form.filter)}}
            </div>
        </div>
        {{form_end(form)}}
        <table class="table table-striped table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Réf</th>
                    <th>Entrepreneur</th>
                    <th>Date de création</th>
                    <th>Client</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% if facturess is defined %}{% set fac = facturess %}{% else %}{% set fac = factures %}{% endif %}

                {% for facture in fac %}
                <tr>
                    <td>{{ facture.ref }}</td>
                    <td>{{ facture.entrepreneur.prenom }} {{ facture.entrepreneur.nom }}</td>
                    <td>{{ facture.dateFact ? facture.dateFact|date('d-m-Y') : '' }}</td>
                    <td>{{ facture.client }}</td>
                    <td>
                        <a href="{{ path('facture_show', {'id': facture.id}) }}"><i class="fa fa-file"></i></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="9">Pas de facture</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation d-flex justify-content-center">
            {% if not factures is empty %}
            {{ knp_pagination_render(factures) }}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}