{% extends 'admin.html.twig' %}

{% block title %}Paiement index{% endblock %}

{% block search %}
{{ form_start(form) }}
<div class="input-group">
    {{ form_widget(form.text) }}
    <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
        </button>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}

{% block body %}
<div class="text-center">
    <h1>{{titre}}</h1>
</div>

{% if  (paiements is  defined  and not paiements is empty) or paiementss is defined %}
<table class="table table-striped table-bordered shadow p-2">
    <thead>
        <tr>
            <th>réf declaration</th>
            <th>réf paiement</th>
            <th>Date de paiement</th>
            <th>Type</th>
            <th>Etat de l'ent</th>
            <th>Etat egent</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% if paiementss is defined %}{% set pai = paiementss %}{% else %}{% set pai = paiements %}{% endif %}
        {% for paiement in pai %}
        <tr>
            <td><strong>{{ paiement.declaration.ref }}</strong></td>
            <td><strong>{{ paiement.ref }}</strong></td>
            <td>{{ paiement.datePai ? paiement.datePai|date('d-m-Y') : '' }}</td>
            <td>{{ paiement.type }}</td>
            <td>{{ paiement.etatEnt ? 'Versé' : 'Non versé' }}</td>
            <td>{{ paiement.etat ? 'Vérifié' : 'Non vérifié' }}</td>
            <td class="text-center">
                <a href="{{ path('paiement_agent_edit', {'ref': paiement.ref}) }}"><i class="fas fa-edit"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<tr>
    <td colspan="7">Aucun enregistrement trouvé</td>
</tr>
{% endif %}
{% if  paiements is  defined  and not paiements is empty %}
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(paiements) }}
</div>
{% endif %}
{% endblock %}