<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Entrepreneur Admin</title>
	<link href="{{ asset('admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<link href="{{ asset('admin/css/sb-admin-2.css')}}" rel="stylesheet">

</head>

<body id="page-top">
	<div id="wrapper">
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin_index') }}">
				<div class="sidebar-brand-icon rotate-n-15">
				</div>
				<div class="sidebar-brand-text mx-3 text-dark"><b>Entrepreneur</b> Admin</div>
			</a>
			<hr class="sidebar-divider my-0">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('admin_index') }}">
					<i class="fas fa-fw fa-tachometer-alt text-dark"></i>
					<span class="text-dark">Tableau de bord</span></a>
			</li>
			<hr class="sidebar-divider">
			<div class="sidebar-heading text-dark">
				Interface
			</div>
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo">
					<i class="fas fa-users fa-cog text-dark"></i>
					<span>Utilisateurs</span>
				</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						{% if is_granted("ROLE_ADMIN") %}
						<a class="collapse-item" href="{{ path('agent_index_admin') }}">Agents</a>
						{% endif %}
						<a class="collapse-item" href="{{ path('entrepreneur_index') }}">Entrepreneurs</a>
					</div>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoDeclaration"
					aria-expanded="true" aria-controls="collapseTwoDeclaration">
					<i class="fas fa-fw fa-file text-dark"></i>
					<span>Déclarations</span>
				</a>
				<div id="collapseTwoDeclaration" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="{{ path('admin_declaration_index') }}">Liste des Déclarations</a>
						{% if is_granted("ROLE_ADMIN") %}
						<a class="collapse-item" href="{{ path('admin_declaration_new') }}">Ajouter Déclaration</a>
						{% endif %}
					</div>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoFacture"
					aria-expanded="true" aria-controls="collapseTwoFacture">
					<i class="fas fa-fw fa-file-alt text-dark"></i>
					<span>Facturation</span>
				</a>
				<div id="collapseTwoFacture" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="{{ path('admin_facture_index') }}">Liste des factures</a>
						<a class="collapse-item" href="{{ path('admin_devis_index') }}">Liste des devis</a>
					</div>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwocalendar"
					aria-expanded="true" aria-controls="collapseTwocalendar">
					<i class="fas fa-fw fa-calendar-alt text-dark"></i>
					<span>Rendez-vous</span>
				</a>
				<div id="collapseTwocalendar" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="{{ path('agent_rendezvous_index') }}">Liste des rendez-vous</a>
						{% if is_granted("ROLE_AGENT") %}
						<a class="collapse-item"
							href="{{ path('agent_rendezvous_mesrendezvous', {slug: app.user.slug}) }}">Mes
							rendez-vous</a>
						{% endif %}
					</div>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoVersement"
					aria-expanded="true" aria-controls="collapseTwoVersement">
					<i class="fas fa-fw fa-money-bill-alt text-dark"></i>
					<span>Versements</span>
				</a>
				<div id="collapseTwoVersement" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="{{ path('paiement_agent_liste') }}">Liste des versements</a>
						{% if is_granted("ROLE_AGENT") %}
						<a class="collapse-item" href="{{ path('paiement_agent_regulariser') }}">Versements a
							régulariser</a>
						{% endif %}
					</div>
				</div>
			</li>
			{% if is_granted("ROLE_ADMIN") %}
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoActivite"
					aria-expanded="true" aria-controls="collapseTwoActivite">
					<i class="fas fa-fw fa-atom text-dark"></i>
					<span>Activités</span>
				</a>
				<div id="collapseTwoActivite" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="{{ path('activite_index') }}">Liste des Activités</a>
						<a class="collapse-item" href="{{ path('activite_new') }}">Ajouter Activité</a>
					</div>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoActualite"
					aria-expanded="true" aria-controls="collapseTwoActualite">
					<i class="fas fa-fw fa-sticky-note text-dark"></i>
					<span>Actualités</span>
				</a>
				<div id="collapseTwoActualite" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="{{ path('actualite_index') }}">Liste des actualités</a>
						<a class="collapse-item" href="{{ path('actualite_new') }}">Ajouter actualité</a>
					</div>
				</div>
			</li>
			{% endif %}
			{% if is_granted("ROLE_ADMIN") %}
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoTemoignage"
					aria-expanded="true" aria-controls="collapseTwoTemoignage">
					<i class="fas fa-fw fa-play text-dark"></i>
					<span>Témoignages</span>
				</a>
				<div id="collapseTwoTemoignage" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="{{ path('temoignage_index') }}">Liste des témoignage</a>
						<a class="collapse-item" href="{{ path('temoignage_new') }}">Ajouter témoignage</a>
					</div>
				</div>
			</li>
			{% endif %}
		</ul>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					{% block search %}{% endblock %}
					<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown no-arrow d-sm-none">
							<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-search fa-fw"></i>
							</a>
						</li>

						<div class="topbar-divider d-none d-sm-block"></div>
						<li class="nav-item dropdown no-arrow">
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="mr-2 d-none d-lg-inline text-gray-600 small">Bonjour, {{ app.user.nom }}</span>
								<img class="img-profile rounded-circle" src="{{asset("admin/img/undraw_profile.svg")}}">
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown">
								<a class="dropdown-item" {% if is_granted("ROLE_ADMIN") %} href="{{ path('admin_editpassword') }}" {% else %} href="{{ path('agent_editpassword', {slug:app.user.slug}) }}" {% endif %} >
									<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400 text-dark"></i>
									Mot de passe
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{path('app_logout')}}">
									<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400 text-dark"></i>
									Logout
								</a>
							</div>
						</li>

					</ul>

				</nav>
				<div class="container-fluid">
					{% block body %}
					{% endblock %}
				</div>
			</div>
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; SQLI Services 2021</span>
					</div>
				</div>
			</footer>
		</div>

	</div>

	<script src="{{ asset('admin/vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ asset('admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ asset('admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
	<script src="{{ asset('admin/js/sb-admin-2.min.js') }}"></script>
	<script src="{{ asset('admin/vendor/chart.js/Chart.min.js') }}"></script>
	<script src="{{ asset('admin/js/demo/chart-area-demo.js') }}"></script>
	<script src="{{ asset('admin/js/demo/chart-pie-demo.js') }}"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

	{% block javascripts %}
	{% endblock %}

</body>

</html>