{% extends 'base.html.twig' %}

{% block title %}Entrepreneur{% endblock %}

{% block body %}
<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>{{ entrepreneur.nom }} {{ entrepreneur.prenom }}</h2>
                <ul class="bread-list">
                    <li><a href="#">Etat<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="#">{% if entrepreneur.etat %} Activé {% else %} non activé
                            {% endif %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="pricing-table" class="pricing-table section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-table active">
                    <div class="bg-icon"><i class="fa fa-address-book"></i></div>
                    <div class="table-head">
                        <h2 class="title">Informations d'activité</h2>
                    </div>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ entrepreneur.categorie.adresse }}</td>
                            </tr>
                            <tr>
                                <th>Codepostale</th>
                                <td>{{ entrepreneur.categorie.codepostale }}</td>
                            </tr>
                            <tr>
                                <th>Secteur d'activité</th>
                                <td>{{ entrepreneur.categorie.activite.nom }}</td>
                            </tr>
                            <tr>
                                <th>Taux</th>
                                <td>{{ entrepreneur.categorie.activite.taux }}%</td>
                            </tr>
                            <tr>
                                <th>Domicile</th>
                                <td>{{ entrepreneur.categorie.domicile ? 'Oui' : 'Non' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Pricing Table -->
{% endblock %}