<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Facture</title>

    <style type="text/css">
        * {
            font-family: Verdana, Arial, sans-serif;
        }

        table {
            font-size: x-small;
        }

        tfoot tr td {
            font-weight: bold;
            font-size: x-small;
        }

        .gray {
            background-color: lightgray
        }

        h1 {
            text-align: center;
        }
    </style>

</head>

<body>
    <img width="130" height="130" src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.0-9/11206_617636068257478_545712743_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=973b4a&_nc_ohc=2J2u26ZaflQAX9-1ZKX&_nc_ht=scontent.ftun2-1.fna&oh=ce11306314ad2fbd554567f66e007152&oe=607683DD" alt="logo">
    <h1>{{ facture.type }} #{{ facture.ref }}</h1>
    <table width="100%">
        <tr>
            <td align="right">
                <h3>{{ facture.client }}</h3>
                <pre>
               Date: {{ facture.dateFact | date('d-m-Y')}}
               MF: {{ facture.mf }}
            </pre>
            </td>
        </tr>

    </table>

    <table width="100%">
        <tr>
            <td><strong>Entrepreneur:</strong> {{ facture.entrepreneur.prenom }} {{ facture.entrepreneur.nom }}</td>
        </tr>

    </table>

    <br />

    <table width="100%">
        <thead style="background-color: lightgray;">
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Prix unitaire</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in facture.produits  %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.nb }}</td>
                    <td>{{ produit.prixUnitaire }} DT</td>
                    <td align="right">{{ produit.prixTotal }} DT</td>
                </tr>
            {% endfor %}

        </tbody>

        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td align="right">Total TTC</td>
                <td align="right">{{ facture.prixTTC }}DT</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td align="right">TVA</td>
                <td align="right">{{ facture.tva }}%</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td align="right">Total HT</td>
                <td align="right" class="gray">{{ facture.prixHT }}DT</td>
            </tr>
        </tfoot>
    </table>

</body>

</html>