<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attestation Fiscale</title>

    <style type="text/css">
        * {
            font-family: Verdana, Arial, sans-serif;
        }

        table {
            font-size: x-small;
        }

        tfoot tr td {
            font-weight: bold;
            font-size: x-small;
        }

        .gray {
            background-color: lightgray
        }

        h1 {
            text-align: center;
        }
    </style>

</head>

<body>
    <img width="130" height="130" src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.0-9/11206_617636068257478_545712743_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=973b4a&_nc_ohc=2J2u26ZaflQAX9-1ZKX&_nc_ht=scontent.ftun2-1.fna&oh=ce11306314ad2fbd554567f66e007152&oe=607683DD" alt="logo">
    <h1>Attestation fiscale [ {{ attestation_fiscale.annee }} ] #{{ attestation_fiscale.ref }}</h1>
    <table width="100%">
        <tr>
            <td align="right">
                <pre>
               Date: {{ attestation_fiscale.dateCr | date('d-m-Y')}}
            </pre>
            </td>
        </tr>

    </table>

    <table width="100%">
        <tr>
            <td><strong>Entrepreneur:</strong> {{ attestation_fiscale.entrepreneur.prenom }} {{ attestation_fiscale.entrepreneur.nom }}</td>
        </tr>

    </table>

    <br />

    <table width="100%">
        <thead style="background-color: lightgray;">
            <tr>
                <th>#</th>
                <th>réf déclaration</th>
                <th>réf de paiement</th>
                <th>Date de déclaration</th>
                <th>Date de paiement</th>
                <th>Cotisation</th>
                <th>Chiffre d'affaire</th>
            </tr>
        </thead>
        <tbody>
        {% set totalDec = 0 %}
        {% set totalPaye = 0 %}
        {% for declaration in attestation_fiscale.getDeclaration %}
        {% set totalDec = totalDec + declaration.chiffre %}
        {% set totalPaye = totalPaye + declaration.cotisation %}
            <tr>
                <th scope="row">#</th>
                <td>{{ declaration.ref }}</td>
                <td>{{ declaration.paiement.getRef }}</td>
                <td>{{ declaration.dateDec ? declaration.dateDec|date('d-m-Y') : ''}}</td>
                <td>{{ declaration.paiement.getDatePai ? declaration.paiement.getDatePai |date('d-m-Y') : ''}}</td>
                <td>{{ declaration.cotisation }}</td>
                <td align="right">{{ declaration.chiffre  }} DT</td>
            </tr>
        {% endfor %}

        </tbody>

        <tfoot>
            <tr>
                <td colspan="5"></td>
                <td align="right">Total déclaré</td>
                <td align="right">{{ totalDec }} DT</td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td align="right">Total cotisation</td>
                <td align="right" class="gray">{{ totalPaye }} DT</td>
            </tr>
        </tfoot>
    </table>

</body>

</html>